parameters:
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        - %currentWorkingDirectory%/src/**/Tests/*
